{% load core_tags %}
<table class="table foo-table-default toggle-circle" data-page-size="8">
    <thead class="table-dark">
    <tr class="text-center">
        <th data-toggle="true">Família</th>
        <th>Char Principal</th>
        <th>PA</th>
        <th>PA AWK</th>
        <th>PD</th>
        <th>Classe</th>
        <th data-hide="all">ID Discord</th>
        <th data-hide="all">GS</th>
        <th data-hide="all">Level</th>
        <th>Siege</th>
        <th>Nodewar</th>
        <th>Candidato à</th>
        <th data-hide="all">Dias de Nodewar</th>
        <th data-hide="all">Data de Cadastro</th>
        <th class="footable-sortable">Ações</th>
    </tr>
    </thead>
    {% include 'recrutas/partials/filtros.html' %}
    <tbody>
    {% for user in todos_usuarios %}
        <tr class="text-center">
            <td class="text-left">{{ user.nome_familia }}</td>
            <td class="text-left">{{ user.nome_char_principal }}</td>
            <td>{{ user.char_ap }}</td>
            <td>{{ user.char_ap_despertada }}</td>
            <td>{{ user.char_dp }}</td>
            <td>{{ user.char_classe|title }}</td>
            <td>{{ user.user_discord }}</td>
            <td>{{ user.gs }}</td>
            <td>{{ user.char_lvl }}</td>
            <td>{{ user.siege|bollean_sim_ou_nao }}</td>
            <td>{{ user.joga_nodewar|bollean_sim_ou_nao }}</td>
            <td>{{ user.get_slug_candidato }}</td>
            <td>{{ user.get_dias_nodewar_format }}</td>
            <td>{{ user.data_cadastro|date:'d/m/Y' }}</td>
            <td class="text-center" width="250">
                <a target="_blank" href="{{ user.get_url_print }}" title="Print do GS">
                    <i class="fa fa-2x fa-photo texto-preto"></i></a>
                &nbsp;&nbsp;
                {% if is_lider_or_oficial %}
                    <a href="javascript:void(0)" data-url="{% url url_recrutas_recrutar_ativar user.pk %}"
                       data-model-title="{{ user.nome_familia }}" class="acao-ativar" title="Recrutar/Ativar">
                        <i class="fa fa-2x fa-user-plus texto-preto"></i></a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" data-url="{% url url_recrutas_recrutar_ativar_heroi user.pk %}"
                       data-model-title="{{ user.nome_familia }}" class="acao-ativar-heroi" title="Recrutar/Ativar Herói">
                        <i class="fa fa-2x fa-user-plus text-purple"></i></a>
                    &nbsp;&nbsp;
                    <a class="reprovar-recruta" href="javascript:void(0)" title="Reprovar" data-toggle="modal"
                       data-model-title="{{ user.nome_familia }}" data-id-user-avancado="{{ user.pk }}"
                       data-target="#reprovar-recruta-modal"><i class="fa fa-2x fa-user-times texto-preto"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="active">
        <td colspan="14">
            <div class="text-right">
                <ul class="pagination hide-if-no-paging pagination-split justify-content-center footable-pagination m-t-40 m-b-0"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>