{% extends 'membros/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} OXION GUILD - Black Desert SA{% endblock titulo_pagina %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h5 class="card-title">Lista de <strong class="text-success">Membros</strong>
                    da Guilda Cadastrados e Ativados ({{ todos_usuarios.count }} Jogadores)</h5>
                {% include 'membros/partials/tabela.html' %}
            </div>
        </div>
    </div>
    {% include 'membros/partials/modal_inativar.html' %}
{% endblock content %}
