{% extends 'estatisticas/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} {{ nome_guilda }} - {{ nome_jogo }}{% endblock titulo_pagina %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">Informações Gráficas da Guilda</h4>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'estatisticas/partials/participacao_node.html' %}
    </div>
{% endblock content %}
