{% load staticfiles %}
<div class="wrapper-page">
    <div class="text-center m-r-15">
        <a href="{% url 'usuario_login' %}" class="logo-lg"><img src="{% static 'v1/global/assets/images/logo_guildas/oxion_black.png' %}" alt="OX"> <span></span> </a>
    </div>
    <form class="form-horizontal m-t-20" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-12">
                <h6>Enviamos para seu email as instruções para redefinir a sua senha, se existir uma conta com este email que você colocou.</h6>
                <p class="small text-danger">Se você não receber um email, verifique se inseriu o endereço com o qual se registrou e verifique sua pasta de spam.</p>
            </div>
        </div>
    </form>
</div>
