{% load staticfiles %}
<div class="wrapper-page">
    <div class="text-center m-r-15">
        <a href="{% url 'usuario_login' %}" class="logo-lg"><img src="{% static 'v1/global/assets/images/OXION_black.png' %}" alt="OX"> <span></span> </a>
    </div>
    <form class="form-horizontal m-t-20" method="post">
        {% csrf_token %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Coloque seu <b>Email</b> de cadastro e siga as instruções que serão enviadas para você!
        </div>
        <div class="form-group row">
            <div class="col-12">
                {{ form.as_p }}
            </div>
        </div>
        <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
                <button class="btn btn-dark btn-custom w-md waves-effect waves-light" type="submit">Enviar
                </button>
            </div>
        </div>
    </form>
</div>
