<div class="row">
    <div class="col-md-6 text-xs-center">
        <div class="form-group">
            <a href="{% url url_guerras_cadastrar %}"
               class="btn btn-dark btn-custom waves-effect w-md waves-light m-b-5"><i class="fa fa-plus m-r-5"></i>
                <span>Cadastrar Guerra</span>
            </a>
        </div>
    </div>
    <div class="col-md-6 text-center text-right">
        <div class="form-group">
            <input type="text" placeholder="Filtrar..." class="form-control input-foo-search" autocomplete="on">
        </div>
    </div>
</div>
