{% load core_tags %}
<table class="table foo-table-default">
    <thead class="table-dark">
    <tr class="text-center">
        <th>Família</th>
        <th>Char Principal</th>
        <th>PA</th>
        <th>PA AWK</th>
        <th>PD</th>
        <th>GS</th>
        <th>Classe</th>
        <th>ID Discord</th>
        <th>Level</th>
        <th>PT Fixa</th>
        <th>Cargo</th>
    </tr>
    </thead>
    <tbody>
    {% for p in participacoes_guerra %}
        <tr class="text-center">
            <td class="text-left">
                <div class="checkbox checkbox-success">
                    <input id="{{ p.participante.pk }}" type="checkbox" name="" value="{{ p.participante.pk }}" {{ p.get_frequencia }}>
                    <label for="{{ p.participante.pk }}">
                        <strong>{{ p.participante.nome_familia }}</strong>
                    </label>
                </div>
            </td>
            <td class="text-left">{{ p.participante.nome_char_principal }}</td>
            <td>{{ p.participante.char_ap }}</td>
            <td>{{ p.participante.char_ap_despertada }}</td>
            <td>{{ p.participante.char_dp }}</td>
            <td>{{ p.participante.gs }}</td>
            <td>{{ p.participante.char_classe|title }}</td>
            <td>{{ p.participante.user_discord }}</td>
            <td>{{ p.participante.char_lvl }}</td>
            <td>{{ p.participante.get_pt_fixa }}</td>
            <td>
                <span class="badge badge-{{ p.participante.get_slug_cargo|cor_cargo }}">
                    {{ p.participante.get_slug_cargo }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="active">
        <td colspan="16">
            <div class="text-right">
                <ul class="pagination hide-if-no-paging pagination-split justify-content-center footable-pagination m-t-40 m-b-0"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
