{% load core_tags %}
<table class="table foo-table-default" data-page-size="50">
    <thead class="table-dark">
    <tr class="text-center">
        <th>Família</th>
        <th>Char Principal</th>
        <th>PA</th>
        <th>PA AWK</th>
        <th>PD</th>
        <th>GS</th>
        <th>Classe</th>
        <th>ID Discord</th>
        <th>Level</th>
        <th>PT Fixa</th>
        <th>Cargo</th>
    </tr>
    </thead>
    {% include 'guerras/partials/filtros_frequencia.html' %}
    <tbody>
    {% for p in participacoes_guerra %}
        <tr class="text-center">
            <td class="text-left">
                {% if is_lider_or_oficial %}
                    <div class="checkbox checkbox-success">
                        <i class="fa fa-spin fa-spinner check-spin" style="display: none"></i>
                        <input id="{{ p.participante.pk }}" class="marca-freq-player" type="checkbox"
                               data-guerra-id="{{ guerra.pk }}" value="{{ p.participante.pk }}" {{ p.get_frequencia }}>
                        <label for="{{ p.participante.pk }}">
                            <strong>{{ p.participante.nome_familia }}</strong>
                        </label>
                    </div>
                {% else %}
                    <div class="checkbox checkbox-success">
                        {% if p.get_frequencia %}
                            <strong class="text-success">{{ p.participante.nome_familia }}</strong>
                        {% else %}
                            <strong>{{ p.participante.nome_familia }}</strong>
                        {% endif %}
                    </div>
                {% endif %}
            </td>
            <td class="text-left">
                {% if p.get_frequencia %}
                    <span class="text-success">{{ p.participante.nome_char_principal }}</span>
                {% else %}
                    {{ p.participante.nome_char_principal }}
                {% endif %}
            </td>
            <td>{{ p.participante.char_ap }}</td>
            <td>{{ p.participante.char_ap_despertada }}</td>
            <td>{{ p.participante.char_dp }}</td>
            <td>{{ p.participante.gs }}</td>
            <td>{{ p.participante.char_classe|title }}</td>
            <td>{{ p.participante.user_discord }}</td>
            <td>{{ p.participante.char_lvl }}</td>
            <td>{{ p.participante.get_pt_fixa }}</td>
            <td>
                <span class="badge badge-{{ p.participante.get_slug_cargo|cor_cargo }}">
                    {{ p.participante.get_slug_cargo }}</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="active">
        <td colspan="16">
            <div class="text-right">
                <ul class="pagination hide-if-no-paging pagination-split justify-content-center footable-pagination m-t-40 m-b-0"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
