/*CSS COSTUMIZADO DO SISTEMA*/

.texto-preto {
    color: #000;
}

.cursor-pointer {
    cursor: pointer;
}

.sem-pointer {
    cursor: not-allowed;
}

.wrapper-page-important {
    max-width: 500px !important;
}

.topbar .topbar-left {
    background-color: #000000 !important;
}

.navbar-custom {
    background-color: #000000 !important;
}

.button-menu-mobile {
    background-color: #000000 !important;
}

.side-menu.left {
    background-color: #660000 !important;
}
