/*CSS COSTUMIZADO DO SISTEMA*/

.texto-preto {
    color: #000;
}

.cursor-pointer {
    cursor: pointer;
}

.sem-pointer {
    cursor: not-allowed;
}

.wrapper-page-important {
    max-width: 500px !important;
}
