{% extends 'pagina_inicial/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} OXION GUILD - Black Desert SA{% endblock titulo_pagina %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="text-center card-box">
                {% include 'pagina_inicial/partials/card-perfil.html' %}
            </div>
        </div>
        <div class="col-lg-9">
            {% include 'pagina_inicial/partials/anuncios-geral-home.html' %}
            {% if is_lider_or_oficial %}
                {% include 'pagina_inicial/partials/anuncios-restritos-home.html' %}
            {% endif %}
            {% include 'pagina_inicial/partials/anuncios-guerra-home.html' %}
        </div>
    </div>
    {% include 'pagina_inicial/partials/modal_participar.html' %}
    {% if siege_da_semana %}
        {% include 'pagina_inicial/partials/modal_participar_siege.html' %}
    {% endif %}
{% endblock content %}
