{% load staticfiles %}
{% load core_tags %}
<form method="post" action="{% url url_configuracoes_limpar_registros %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card-box widget-icon bg-dark text-white">
                <div>
                    <i class="mdi mdi mdi-database text-white"></i>
                    <div class="wid-icon-info text-right">
                        <p class="m-b-5 font-15 text-uppercase">Nº de Registros no Banco de Dados</p>
                        <h4 class="m-t-0 m-b-5 counter font-bold">{{ num_registros }}</h4>
                        <small class="text-danger"><b>{{ percent }}% Dados Consumidos(Limite Máx: 10 mil)</b></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row ">
                <div class="col-10 input-group m-l-15">
                    <input name="meses_limpar" type="number" placeholder="Se colocar 0(zero) limpará tudo."
                           class="form-control" required>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-dark waves-effect waves-light">Limpar Registros</button>
                    </div>
                </div>
            </div>
            <div class="row text-muted text-justify font-13">
                <div class="col-10 m-l-15 m-t-5">
                    <strong>Conforme citado no <a href="#" target="_blank" class="text-danger">Termos de Uso do Sistema</a> do
                        sistema:</strong> Existe uma limitação técnica para comportar apenas 10 mil registros em banco de
                    dados. É preciso limpar registros antigos do sistema regularmente para não cessar a sua atividade.
                    Coloque no campo acima a quantidade de meses atrás para limpar os registros. <br> Exemplo: Limpar tudo
                    de <code><ins><strong>2</strong></ins></code> meses para trás.
                    <span class="cursor-pointer" title="Excluirá: Guerras, Payout, Frequências, Participações e Black List.">
                        <strong>Passe para + info...</strong></span>
                </div>
            </div>
        </div>
    </div>
</form>