<div class="row">
    <div class="col-md-6 text-xs-center">
        <div class="form-group">
            {% if is_lider_or_oficial %}
                <a href="#"
                   class="btn btn-dark btn-custom waves-effect w-md waves-light m-b-5"><i class="fa fa-plus m-r-5"></i>
                    <span>Nova Classe</span>
                </a>
                <a href="{% url url_configuracoes_index %}"
                   class="btn btn-danger btn-custom waves-effect w-md waves-light m-b-5"><span>Voltar</span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6 text-center text-right">
        <div class="form-group">
            <input type="text" placeholder="Filtrar..." class="form-control input-foo-search" autocomplete="on">
        </div>
    </div>
</div>
