{% if siege_da_semana and siege_da_semana != guerra_de_hoje %}
    <h6 class="card-subtitle m-t-10 border-top p-t-10 border-secondary">
        Siege da Semana ({{ siege_da_semana.data_inicio|date:'d/m/Y' }})</h6>
    <p class="card-text m-t-5">
        <small>
            Guerra <strong>{{ siege_da_semana.get_slug_modelo }}</strong>
            {% if siege_da_semana.servidor %}
                no Servidor <strong>{{ siege_da_semana.servidor }}</strong>
            {% endif %}
            {% if siege_da_semana.quantidade_players %}
                para <strong>{{ siege_da_semana.quantidade_players }}</strong> Participantes
            {% endif %}
            {% if siege_da_semana.node %}
                --- Node: <strong>{{ siege_da_semana.node }}</strong>
            {% endif %}
            {% if siege_da_semana.call %}
                --- Call de: <strong>{{ siege_da_semana.call }}</strong>
            {% endif %}
            ---- Usaremos Pt's Fixas? <strong>{{ siege_da_semana.pt_fixa|yesno:'Sim,Não' }}</strong>
        </small>
    </p>
    <p>
        <strong>Participantes até o Momento ({{ total_siege_semana }}):</strong>
        <span class="badge badge-success">SIM: {{ total_sim_siege_semana }}</span>
        <span class="badge badge-danger">NÃO: {{ total_nao_siege_semana }} </span>
        <span class="badge badge-warning">TALVEZ: {{ total_talvez_siege_semana }}</span>
    </p>
    <a href="javascript:void(0)" class="btn btn-outline-dark btn-sm w-sm waves-effect waves-light"
       data-toggle="modal" data-target="#participar-siege-semana-modal" data-id-user-avancado="{{ user.pk }}">
        <i class="fa fa-child m-r-5"></i> <span>Participar</span></a>
    {% if logado_participa_siege_semana %}
        <span class="small p-2 text-danger">
                Você marcou a participação nesta guerra como: <strong class="text-uppercase">
                {{ logado_participa_siege_semana.participa }}</strong>. Para alterar click em <strong>Participar</strong> novamente.
            </span>
    {% endif %}
{% endif %}
