{% load core_tags %}
<div class="row">
    <div class="col-md-4 m-t-10">
        <div class="card-box">
            <h4 class="text-dark header-title m-t-0 m-b-5">Ataque - Nodewar</h4>
            <div id="basicTree">
                <ul>
                    <li data-jstree='{"opened":true}'>&nbsp;&nbsp;[TRIZAYFER] - Trizayfer
                        <ul>
                            <li data-jstree='{"icon":"mdi mdi mdi-account"}'>Darksin</li>
                            <li data-jstree='{"icon":"mdi mdi mdi-account"}'>Zyronn</li>
                            <li data-jstree='{"icon":"mdi mdi mdi-account"}'>Crx</li>
                            <li data-jstree='{"icon":"mdi mdi mdi-account"}'>Kirito</li>
                            <li data-jstree='{"icon":"mdi mdi mdi-account"}'>Furyon</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
