{% load core_tags %}
<table class="table foo-table-default" data-page-size="50">
    <thead class="table-dark">
    <tr class="text-center">
        <th>Família</th>
        <th>Char Principal</th>
        <th>PA/PA AWK</th>
        <th>Classe</th>
        <th>Cargo</th>
        <th>Nodes da Semana ({{ total_de_nodes_by_payout.count|default:'0' }})</th>
        <th>Siege da Semana ({{ total_de_siege_by_payout.count|default:'0' }})</th>
        <th>Pontos Adicionais</th>
        <th>Payout Tier Total</th>
    </tr>
    </thead>
    {% include 'payout/partials/filtros_calculadora.html' %}
    <tbody>
    {% for membro in todos_membros_ativos %}
        <tr class="text-center">
            <td class="text-left">{{ membro.nome_familia }}</td>
            <td>{{ membro.nome_char_principal }}</td>
            <td>{{ membro.char_ap }} / {{ membro.char_ap_despertada }}</td>
            <td>{{ membro.char_classe|title }}</td>
            <td>
                <span class="badge badge-{{ membro.get_slug_cargo|cor_cargo }}">
                    {{ membro.get_slug_cargo }}</span>
            </td>
            <td>{% get_frequencia_tipo_guerra_by_payout membro total_de_nodes_by_payout %}</td>
            <td>{% get_frequencia_tipo_guerra_by_payout membro total_de_siege_by_payout %}</td>
            <td>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="demo0" type="text" value="0" name="demo0" data-bts-min="0" data-bts-max="100"
                                   data-bts-init-val="" data-bts-step="1" data-bts-decimal="0" data-bts-step-interval="100"
                                   data-bts-force-step-divisibility="round" data-bts-step-interval-delay="500" data-bts-prefix=""
                                   data-bts-postfix="" data-bts-prefix-extra-class="" data-bts-postfix-extra-class=""
                                   data-bts-booster="true" data-bts-boostat="10" data-bts-max-boosted-step="false"
                                   data-bts-mousewheel="true" data-bts-button-down-class="btn btn-default"
                                   data-bts-button-up-class="btn btn-default"/>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </td>
            <td>Tier 0</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="active">
        <td colspan="16">
            <div class="text-right">
                <ul class="pagination hide-if-no-paging pagination-split justify-content-center footable-pagination m-t-40 m-b-0"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
