{% load core_tags %}
<table class="table foo-table-default" data-page-size="8">
    <thead class="table-dark">
    <tr class="text-center">
        <th>#</th>
        <th>Data Início da Semana</th>
        <th>Data Fim da Semana</th>
        <th class="footable-sortable">Ações</th>
    </tr>
    </thead>
    {% include 'payout/partials/filtros.html' %}
    <tbody>
    {% for payout in payouts %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td>{{ payout.data_inicio|date:'d/m/Y' }}</td>
            <td>{{ payout.data_fim|date:'d/m/Y' }}</td>
            <td class="text-center" width="250">
                <a href="{% url url_payout_listar_calculos payout.pk %}" title="Cálculos">
                    <i class="fa fa-2x fa-calculator texto-preto m-r-15"></i></a>
                {% if payout.url_print_payout %}
                    <a target="_blank" href="{{ payout.get_url_print_payout }}" title="Print do Payout">
                        <i class="fa fa-2x fa-eye texto-preto m-r-15"></i></a>
                {% else %}
                    <a target="_blank" href="javascript:void(0)" title="Sem Print" class="sem-pointer">
                        <i class="fa fa-2x fa-eye-slash text-muted m-r-15"></i></a>
                {% endif %}
                {% if is_lider %}
                    <a href="{% url url_payout_editar payout.pk %}" title="Editar">
                        <i class="fa fa-2x fa-edit texto-preto m-r-15"></i></a>
                    <a href="javascript:void(0)" data-url="{% url url_payout_excluir payout.pk %}"
                       data-model-title="Payout" class="acao-excluir" title="Excluir">
                        <i class="fa fa-2x fa-ban texto-preto"></i></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="active">
        <td colspan="14">
            <div class="text-right">
                <ul class="pagination hide-if-no-paging pagination-split justify-content-center footable-pagination m-t-40 m-b-0"></ul>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
