{% extends 'guerras/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} OXION GUILD - Black Desert SA{% endblock titulo_pagina %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h5 class="card-title">Marcar Frequência dos Participantes na Guerra ({{ guerra.data_inicio|date:'d/m/Y' }})</h5>
                {% include 'guerras/partials/tabela_frequencia.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
