<div class="col-lg-6">
    <div class="portlet">
        <div class="portlet-heading bg-inverse">
            <h3 class="portlet-title text-white"> Participação e Frequência em NodeWar / Siege ultimos 7 Dias (apenas
                Membros)</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse show">
            <div class="portlet-body">
                <div class="text-center">
                    <ul class="list-inline chart-detail-list">
                        <li class="list-inline-item">
                            <h5><i class="fa fa-circle m-r-5" style="color: #163282;"></i>Participações Confirmadas</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><i class="fa fa-circle m-r-5" style="color: #14aa41;"></i>Frequência Real</h5>
                        </li>
                    </ul>
                </div>
                <div id="morris-line-example" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
