<div class="col-lg-6">
    <div class="portlet">
        <div class="portlet-heading bg-inverse">
            <h3 class="portlet-title text-white">Quantidade de Membros e Heróis em Siege (últimas 7 sieges)</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-collapse collapse show">
            <div class="portlet-body">
                <div class="text-center">
                    <ul class="list-inline chart-detail-list">
                        <li class="list-inline-item">
                            <h5><i class="fa fa-circle m-r-5" style="color: #9c27b0;"></i>Participação de Heróis</h5>
                        </li>
                        <li class="list-inline-item">
                            <h5><i class="fa fa-circle m-r-5" style="color: #66bb6a;"></i>Frequência Real de Membros</h5>
                        </li>
                    </ul>
                </div>
                <div id="morris-bar-stacked" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
