<div class="col-lg-3 col-md-12">
    <div class="widget-bg-color-icon card-box bg-inverse">
        <div class="bg-icon bg-icon-danger pull-left">
            <i class="mdi mdi-yin-yang text-success"></i>
        </div>
        <div class="text-right">
            <h3 class="text-white m-t-10"><b class="counter">{{quantitativo.gs_medio}}</b></h3>
            <p class="text-white mb-0"><strong>GS Médio da Guilda</strong></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-lg-3 col-md-12">
    <div class="widget-bg-color-icon card-box bg-inverse">
        <div class="bg-icon bg-icon-danger pull-left">
            <i class="mdi mdi-sword-cross text-success"></i>
        </div>
        <div class="text-right">
            <h3 class="text-white m-t-10"><b class="counter">{{quantitativo.pa_medio}}</b></h3>
            <p class="text-white mb-0"><strong>PA Médio da Guilda</strong></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-lg-3 col-md-12">
    <div class="widget-bg-color-icon card-box bg-inverse">
        <div class="bg-icon bg-icon-danger pull-left">
            <i class="mdi mdi-sword text-success"></i>
        </div>
        <div class="text-right">
            <h3 class="text-white m-t-10"><b class="counter">{{quantitativo.paawk_medio}}</b></h3>
            <p class="text-white mb-0"><strong>PA Awk Médio da Guilda</strong></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-lg-3 col-md-12">
    <div class="widget-bg-color-icon card-box bg-inverse">
        <div class="bg-icon bg-icon-danger pull-left">
            <i class="mdi mdi-shield-half-full text-success"></i>
        </div>
        <div class="text-right">
            <h3 class="text-white m-t-10"><b class="counter">{{quantitativo.pd_medio}}</b></h3>
            <p class="text-white mb-0"><strong>PD Médio da Guilda</strong></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
