{% extends 'anuncios_gerais/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} {{ nome_guilda }} - {{ nome_jogo }}{% endblock titulo_pagina %}

{% block content %}
    <form action="{% url url_anuncios_gerais_inserir %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h5 class="card-title">Criar um Anúncio Geral</h5>
                    {% include 'anuncios_gerais/partials/campos.html' %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-custom waves-effect w-md waves-light">
            <i class="fa fa-save m-r-5"></i> <span>Salvar</span>
        </button>
        <a href="{% url url_name_home %}"
           class="btn btn-danger btn-custom waves-effect w-md waves-light"><span>Voltar</span>
        </a>
    </form>
{% endblock content %}
