{% extends 'pagina_inicial/layout.html' %}
{% load core_tags %}
{% load staticfiles %}

{% block titulo_pagina %} OXION GUILD - Black Desert SA{% endblock titulo_pagina %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h5 class="card-title">Lista de Recrutas e Membros da Guilda sem Cadastro</h5>
                {% include 'recrutas/partials/tabela.html' %}
            </div>
        </div>
    </div>
{% endblock content %}
